.tag {
  background-color: $shark-background;
  padding: 8px 7px;
  font-size: 12px;
  margin-right: 15px;
  margin-bottom: 9px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &--selected {
    border: 1px solid #2F7F62;
  }
}