.actiontitle {
  display: inline-block;
  margin-bottom: 30px;
  &-icon{
    //width: 100px;
    height: 100%;
    &-wrapper {
      height: 15px;
      width: 15px;
      margin: 0 auto;
      &--big {
        height: 30px;
        width: 30px;
      }
    }
  }
  &-wrapper {
    display: flex;
  }
  &-name {
    font-size: 14px;
    letter-spacing: 3px;
  }
}