.input {
  background-color: $shark-background;
  border: none;
  height: 25px;
  color: $white;
  min-width: 173px;
  &-name {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
  }
  &-wrapper {
    height: 50px;
    width: 120px;
  }
}