.filled {
  display: inline-flex;
  margin-top: 15px;
  align-items: center;
  position: absolute;
  right: 0;
  width: 200px;
  @media screen and (max-width: 768px){
   position: initial;
  }
  &-wrapper{
    width: 100%;
    position: relative;
    height: 40px;
    margin-bottom: 15px;
  }
  &-container{
    margin-left: auto;
    display: inline-block;
  }
  &-icon {
    width: 100%;
    height: 100%;
    &-wrapper {
      width: 40px;
      height: 40px;
      position: absolute;
      top: -8px;
      left: 1px;
    }
  }
  &-circle {
    height: 30px;
    width: 30px;
    background-color: $shark;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    border: 1px solid $sea-green-background;
  }
  &-text {
    text-transform: uppercase;
    font-size: 18px;
    &--filled {
      color: $light-green-text;
    }
    &--notfilled {
      color: $pink;
    }
  }
}
