.news {
  margin-top: 45px;
  margin-bottom: 150px;
  &--wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px){
      display: block;
      text-align: center;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    &--wrapper {
      width: 200px;
      height: 200px;
      object-fit: contain;
      @media screen and (max-width: 768px){
        margin: 0 auto;
      }
    }
  }
  &-info {
    max-width: 70%;
    margin-left: 18px;
    @media screen and (max-width: 768px){
      max-width: none;
    }
  }
  &-title {
    font-size: 24px;
    margin-bottom: 15px;
    &--big{
      font-size: 30px;
    }
  }
  &-text {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  &-main {
    display: flex;
    @media screen and (max-width: 768px){
      display: inline-block;
    }
  }
  &-data {
    font-size: 16px;
    @media screen and (max-width: 768px){
      text-align: end;
    }

  }
  &-separator {
    height: 1px;
    width: 80%;
    background-color: $white;
    margin: 15px auto 0;
  }
  &-container {
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.3s ease all;
    text-decoration: none;

    &:hover {
      background-color: $outer-space-background-hover;
    }
    &:last-child {
      .news-separator{
        display: none;
      }
    }
  }
}

