.profile {
  justify-content: center;
  align-items: center;
  display: inline-grid;
  &-modal {
    padding: 5px;
    background-color: $shark-background;
    position: absolute;
    z-index: 10;
    min-width: 200px;
    &-item {
      font-size: 12px;
      letter-spacing: 3px;
      &-wrapper {
        margin-bottom: 10px;
        border-bottom: 1px solid $white;
        padding: 8px;
        cursor: pointer;
        &:hover {
          background-color: $outer-space-background-hover;
        }
      }
    }
  }
  &-main {
    display: flex;
    width: 150px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
  &-plus {
    font-size: 28px;
    text-align: center;
    align-items: center;
    margin-left: 7px;
    height: 40px;
    cursor: pointer;
    color: #797B7B;
  }
  &-icon {
    width: 100%;
    height: 100%;
    &-wrapper {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      cursor: pointer;
      position: relative;
    }
  }
  &-name{
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 4px;
  }
  &-item {
    margin-bottom: 25px;
  }
  &-select {
    width: 260px;
    &-wrapper {
      display: flex;
      align-items: center;
    }
  }
  &-copy{
    font-size: 10px;
    letter-spacing: 3px;
    position: absolute;
    top: 2px;
    left: -59px;
    white-space: nowrap;
  }
}