.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  @media screen and (max-width: 768px){
    display: block;
  }
  &-text {
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &-button {
    font-size: 18px;
    color: #21EAF2;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #21EAF2;
    padding: 3px 20px;
    letter-spacing: 3px;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(11, 246, 255, 0.2);
    cursor: pointer;
    margin-right: 60px;
    @media screen and (max-width: 767px){
      margin: 0 auto;
      width: 300px;
    }
    @media screen and (max-width: 570px){
      margin: 0;
      width:88%;
    }
  }
}