.instruction-select {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  &-value {
    width: 160px;
    height: 25px;
    background-color: $shark-background;
    margin-right: 30px;
    position: relative;
    display: grid;
    cursor: pointer;

  }
  &-input {
    width: 240px;
    height: 25px;
    background-color: $shark-background;
    border: none;
    color: $white;
    &--custom {
      width: 130px;
      height: 21px;
      background-color: $shark-background;
      border: none;
      color: $white;
      &::placeholder {
        padding-left: 7px;
        letter-spacing: 3px;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    &::placeholder {
      padding-left: 7px;
      letter-spacing: 3px;
      font-size: 12px;
    }
  }
  &-arrow {
    width: 100%;
    height: 100%;
    &-wrapper {
      width: 13px;
      height: 13px;
      position: absolute;
      top: 2px;
      left:3px;

    }
  }
  &-item {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    &--default {

    }
    &-wrapper{
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto 0;
      &--custom {
        position: absolute;
        top: 0;
        left: 26px;
      }
    }
  }
  &-modal {
    padding: 5px;
    background-color: $shark-background;
    position: absolute;
    z-index: 10;
    min-width: 200px;
    &-item {
      font-size: 12px;
      letter-spacing: 3px;
      &-wrapper {
        margin-bottom: 10px;
        border-bottom: 1px solid $white;
        padding: 8px;
        cursor: pointer;
        &:hover {
          background-color: $outer-space-background-hover;
        }
      }
    }
  }
  &-index {
    position: absolute;
    left: -23px;
  }
}