.source-input {
  width: 240px;
  height: 25px;
  background-color: $shark-background;
  border: none;
  color: $white;
  &::placeholder {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
  }
}