.instruction {
  &-title {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 25px;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    @media screen and (max-width: 940px){
      display: block;
      padding: 0;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &-text {
      font-size: 12px;
      letter-spacing: 3px;
      margin-right: 7px;
    }
    &-wrapper {
      display: flex;
      align-items: center;
    }
    &-copy {
      font-size: 10px;
      letter-spacing: 2px;
      margin-left: 7px;
    }
  }
  &-icon {
    width: 100%;
    height: 100%;
    &-wrapper {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      cursor: pointer;
    }
  }
  &-name {
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 3px;
  }
  &-copy {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}
