.add-button {
  width: 30px;
  height: 30px;
  font-size: 23px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $shark-background;
  position: absolute;
  bottom: -55px;
  display: flex;
  left: 0;
  cursor: pointer;
}