.edit-element {
  width: 100%;
  padding: 0 20px;
  background-color: $black-background;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-radius: 5px;
  border: 1px solid $sea-green-background;
  height: 35px;
}