$white: #fff;
$black-background: #101212;
$dove-gray-background: #707070;
$abbey-line: #555656;
$nandor-line: #515C52;
$gray-text: #9f9f9f;
$outer-space-background-hover: #2e3535;
$mine-shaft: #5a5a5a;
$outer-space-background: #202626;
$shark-background: #232525;
$shark: #1F2121;
$dark-shark-background: #191B1B;
$bright-turquoise: #21EAF2;
$sea-green-background:#2F7F62;
$light-green-text: #5FD25F;
$green-text: #01E601;
$turbo-background: #FFEB00;
$yellow-text: #FFC400;
$cyan-text: #00D8FF;
$bright-turquoise-background: #00FFD8;
$blue-text: #0F4FFF;
$purple-text: #8300D5;
$electric-violet-background: #9C00D6;
$pink: #FF5858;

