.link {
  text-decoration: none;
  color: $white;
}
.title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.slick-current  .calendar-data{
 font-size: 26px;
  color: $white;
}
.slick-current  .calendar-data--small{
  font-size: 18px;
  color: $white;
}
.center {
  margin-left: -40px;
  margin-right: -40px;
}
.sandwich {
  display: none;
  z-index: 100;
  margin-left: auto;
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 25px;

  &.is {
    &-active {
      .sandwich__line {
        &--top {
          top: 10px;
          transform: rotate(45deg);
        }
        &--middle { opacity: 0; }
        &--bottom {
          top: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__line {
    background-color: white;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all linear .4s;
    width: 100%;
    &--top { top: 0; }
    &--middle { top: 7px; }
    &--bottom { top: 15px; }
  }

  @media screen and (max-width: 940px){
    display: block;
    margin-left: 0;
  }
}
.toast {
  max-width: 350px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: none;
  position: relative;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
  overflow-wrap: break-word;
  word-break: break-word;
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  &_show {
    display: block;
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
    margin: 0;
    font-family: inherit;
    border-radius: 0;
  }
}
.coming-soon{
  position: absolute;
  font-size: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $outer-space-background-hover;
  padding: 30px 20px;
}
.close-icon-filled {
  width: 100%;
  height: 100%;
  &-wrapper {
    cursor: pointer;
    right: 60px;
    position: absolute;
    top: -88px;
    width: 25px;
    height: 25px;
    @media screen and (max-width: 652px){
      right: 4px;
      top: -81px;
    }
  }
}
.paragraph {
  margin-right: 20px;
}