@import "colors";
@import "small-blocks";
@import "src/components/index";
@import "src/pages/index";

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black-background;
  color: $white;
  //background-image: url("../assets/images/fomo_background2.png")  ;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.container {
  padding: 0 180px;
  @media screen and (max-width: 940px){
    padding: 0 15px;
  }
  &-main{
    padding: 0 180px;
    @media screen and (max-width: 940px){
      padding: 0 15px;
    }
  }
  &-calendar {
    padding: 0 180px;
    @media screen and (max-width: 940px){
      padding: 0;
    }
  }
}
.wrapper{
  margin-top: 25px;
  padding-top: 25px;
  &-item{
    align-items: center;
    text-align: center;
  }
}
ol {
  padding: 0;
}
