.title{
  display: flex;
  align-items: center;
  &-icon {
    width: 100%;
    height: 100%;
    &--wrapper {
      height: 40px;
      width: 40px;
      margin-right: 15px;
    }
  }
  &-name {
    font-size: 22px;
    letter-spacing: 3px;
  }
}