.select {
  &-wrapper {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: $dark-shark-background;
    height: 20px;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  &-icon{
    width: 100%;
    height: 100%;
    &-wrapper {
      width: 10px;
      height: 10px;
      display: flex;
      position: absolute;
      left: 3px;
    }
  }
  &-text {
    font-size: 14px;
    width: 100%;
    text-align: center;
    background-color: $dark-shark-background;
    border: none;
    color: $white;
  }
}