.comment {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px){
    display: block;
  }
  &--wrapper{
    width: 70%;
    @media screen and (max-width: 768px){
      width: 100%;
    }
  }
  &-text {
    font-size: 14px;
    @media screen and (max-width: 768px){
      margin-bottom: 10px;
    }
  }
  &-author {
    font-size: 16px;
  }
  &-separator{
    height: 1px;
    width: 100%;
    background-color: $dove-gray-background;
    margin-top: 7px;
  }
  &-container{
    margin-bottom: 20px;
  }
}
