.action {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  cursor: pointer;
  &-icon {
    width: 100%;
    height: 100%;
    &-wrapper {
      width: 15px;
      height: 15px;
      display: flex;
      margin-right: 5px;
    }
  }
  &-text {
    font-size: 14px;
    letter-spacing: 3px;
    white-space: nowrap;
  }
}