.tabs-button{
  display: inline-flex;
  align-items: center;
  border: 1px solid $white;
  padding-right: 5px;
  border-radius: 30px;
  margin: 30px 0 30px 92px;
  cursor: pointer;
  @media screen and (max-width: 940px){
    margin: 0;
  }
  &-image {
    width: 100%;
    height: 100%;
    &-wrapper {
      width: 50px;
      height: 50px;
    }
  }
  &-text {
    text-transform: uppercase;
    font-size: 13px;
  }
}