.nav-admin {
  display: flex;
  &-wrapper {
    display: flex;
    padding: 0 80px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 940px){
      margin-top: 0;
      padding: 0 10px;
    }
  }
  &-active {
    border-bottom: 1px solid $white;
    transition: all 0.6s linear;
  }
  &-container {
    align-items: center;
    display: flex;
    @media screen and (max-width: 940px){
      display: block;
    }
  }
  &-items {
    display: flex;
    width: 100%;
    margin-left: 30px;
    & > * {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-link {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 1px;
      background: $white;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all 0.3s;
    }

    &:hover:not(.nav-active) {
      &:after {
        width: 100%;
      }
    }
  }
  &-back {
    white-space: nowrap;
    margin-left: 15px;
    letter-spacing: 5px;
    font-size: 14px;
    cursor: pointer;

  }
}
