.preloader {
  margin: 0;
  opacity: 1;
  width: 80px;
  height: 80px;
  border-top: 3px solid #30365f;
  border-bottom: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
  border-radius: 100%;
  animation: spin 1s infinite linear;
  &-wrapper {
    display: flex;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
