.information {
  margin-top: 40px;
  margin-bottom: 30px;
  &-text {
    font-size: 16px;
    margin-top: 16px;
    text-indent: 15px;
  }
  &-title {
    margin: auto 0;
  }
  &-tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
.comments {
  margin-bottom: 70px;
  &-title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  &-input {
    height: 120px;
    resize: none;
    width: 100%;
    background-color: transparent;
    color:white;
    border: 1px solid $dove-gray-background;
    &::placeholder {
      padding-top: 10px;
      padding-left: 10px;
    }
    &--wrapper {
      margin-top: 40px;
      width: 100%;
    }
  }
  &-button{
    text-transform: uppercase;
    margin-left: auto;
    width: 100px;
    text-align: center;
    background-color: $dark-shark-background;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease all;
    &:hover {
      background-color: $shark-background;
    }
  }
}