.custom-input {
  width: 85px;
  height: 29px;
  background-color: $shark-background;
  border: none;
  &::placeholder {
    font-size: 8px;
  }
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
  &-wrapper {
    margin-right: 15px;
    margin-bottom: 9px;
  }
}
