.day {
  &-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid $abbey-line;
    padding: 0 4px 4px;
    margin-right: 15px;
    margin-bottom: 20px;
    text-align: center;
    overflow-x: auto;
    @media screen and (max-width: 1190px){
      width: 100px;
      height: 100px;
      margin-right: 5px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 374px){
      width: 80px;
      height: 80px;
      margin-right: 5px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 320px){
      width: 26%;
      height: 80px;
      margin-right: 5px;
      margin-bottom: 15px;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }/* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $sea-green-background;
    }

    /* Handle on hover */
   //&::-webkit-scrollbar-thumb:hover {
   //   background: #555;
   // }
    &--active {
      border: 3px solid $sea-green-background;
    }
  }
  &-warning {
    position: absolute;
    top: 0;
    left: 2px;
    @media screen and(max-width: 940px){
      left: 2px;
    }
    &--wrapper{
      //position: relative;
    }
  }
  &-title {
    font-size: 14px;
    margin-bottom: 7px;
    text-transform: capitalize;
    letter-spacing: 2px;
    @media screen and (max-width: 374px){
      font-size: 12px;
    }
  }
  &-item {
    margin-bottom: 3px;
    font-size: 12px;
    padding: 3px 0;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
  }
}