.description {
  margin-bottom: 70px;
  margin-top: 15px;
  &-title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 13px;
  }
  &-text {
    font-size: 14px;
    letter-spacing: 3px;
  }
}