.calendar {
  display: inline-flex;
  @media screen and (max-width: 768px){
    flex-wrap: wrap;
  }
  &-buttons {
    display: inline-flex;
    @media screen and (max-width: 768px){
      display: flex;
      overflow-x: auto;
    }
    &-wrapper {
      width: 100%;
      align-items: center;
      text-align: center;
      position: relative;
      margin-bottom: 30px;
    }
  }
  &-button {
    font-size: 14px;
    cursor: pointer;
    width: 100px;
    //height: 30px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7px 20px;
    margin-right: 15px;
    &--selected {
      background-color: #484a4a;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-warning {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    @media screen and (max-width: 768px){
      top: -42px;
    }
    &-text {
      font-size: 14px;
      margin-left: 7px;
    }
    &-icon {
      width: 30px;
      height: 30px;
      &--small {
        width: 22px;
        height: 22px;
      }
    }

  }
  &-arrow {
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
  }
  &-wrapper{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  &-dates {
    position: absolute;
    top: 0;
    left: -150px;
    width: 120px;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    @media screen and (max-width: 940px){
      position: initial;
      margin: 0 auto 15px;
    }
  }
  &-data {
    font-size: 16px;
    cursor: pointer;
    color: $gray-text;
    width: 100%;
    display: inline-block;
    height: 30px;
    &--small {
      font-size: 13px;
      cursor: pointer;
      color: $gray-text;
      width: 100%;
      display: inline-block;
      height: 30px;
    }
  }
}
