.nav {
  &-wrapper {
    display: flex;
    padding: 0 80px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px){
      padding: 0 5px;
      margin-top: -13px;

    }
  }
  &-active {
    border-bottom: 1px solid $white;
    transition: all 0.6s linear;
  }
  &-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &-logo {
    width: 100%;
    height: 100%;
    &--wrapper {
      width: 100px;
      height: 100px;
      cursor: pointer;
      margin-right: 10px;
      @media screen and (max-width: 940px){
        margin-right: 0;
        margin-left: 10px;
      }
    }
    &--container {
      display: flex;
      align-items: center;
      @media screen and (max-width: 940px){
        margin-left: 5px;
      }
    }
  }
  &-items {
    display: flex;
    width: 100%;
    margin-left: 30px;
    & > * {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 940px){
      display: none;
    }
  }
  &-link {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 1px;
      background: $white;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all 0.3s;
    }

    &:hover:not(.nav-active) {
      &:after {
        width: 100%;
      }
    }
  }
  &-item {
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 14px;
    border: none;
  }
  &-user {
    width: 25px;
    height: 25px;
    &--wrapper {
      display: flex;
      align-items: center;
    }
  }
  &-button {
    text-transform: uppercase;
    font-size: 14px;
    background-color: $outer-space-background;
    padding: 5px 25px;
    border-radius: 24px;
    margin-right: 30px;
    letter-spacing: 3px;
    cursor: pointer;
    border: 1px solid $sea-green-background;
    @media screen and (max-width: 940px){
      margin-right: 0;
      padding: 5px 18px;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

}
