.image-picker {
  background-color: $shark-background;
  border: none;
  height: 25px;
  color: $white;
  &-name {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
  }
  &-wrapper {
    height: 50px;
    width: 120px;
    cursor: pointer;
    position: relative;
  }
  &-custom {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &-span {
    text-transform: uppercase;
    background-color: $shark-background;
    position: absolute;
    cursor: pointer;
    left: 0;
    z-index: -1;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 12px;
  }
}