.type-button {
  border-radius: 15px;
  width: 130px;
  text-align: center;
  margin-bottom: 12px;
  padding: 8px 0;
  font-size: 12px;
  cursor: pointer;
  &:hover {
    background-color:#484a4a ;
  }
  &-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    margin-bottom: 7px;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  @media screen and (max-width: 768px){
    margin-right: 15px;
    display: inline-table;

  }
  &--active {
    background-color:#484a4a ;
  }
  &-wrapper {
    position: absolute;
    top: 170px;
    text-align: center;
    left: 25px;
    @media screen and (max-width: 768px){
      position: initial;
      display: inline-flex;
      overflow-x: auto;
      width: 100%;
    }
  }
}