.action-button {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 160px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid $white;
  color: $white;
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  &:hover {
    transition: 0.3s ease all;
    background-color: $dove-gray-background;
  }
}