.plus-icon{
  font-size: 26px;
  position: absolute;
  top: 44%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  &-wrapper{
    height: 31px;
    margin-left: 15px;
    position: relative;
    width: 31px;
    background-color: $shark-background;
    cursor: pointer;
  }
}