.table {
  width: 100%;
  border-spacing: 0 13px;
  font-size: 12px;
  @media screen and (max-width: 768px){
    border-spacing: 12px 19px;
  }

  &-th {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
    white-space: nowrap;
  }
  &-tr {
    //margin-bottom: 30px;
    transition: 0.2s ease all;
    transform: scale(1);
    position: relative;
    &:hover {
      background-color: $outer-space-background-hover;
    }
  }
  &-button{
    position: absolute;
    text-transform: uppercase;
    left: -87px;
    top: 6px;
    cursor: pointer;
    font-size: 12px;
    color: $bright-turquoise;
    border: 1px solid $bright-turquoise;
    padding: 3px 13px;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(11, 246, 255, 0.2);
  }
  &--wrapper{
    margin-bottom: 50px;
    @media screen and (max-width: 768px){
     overflow-x: auto;
    }
  }
  &-icon {
    width: 100%;
    height: 100%;
    &--wrapper {
      width: 30px;
      height: 30px;

    }
    &--container {
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
    }
  }
  &-text {
    font-size: 14px;
    text-align: center;
  }
  &-type {
    text-align: center;
    &-text{
      text-transform: uppercase;
    }
  }
  &-reward {
    text-align: center;
  }
  &-status {
    width: 8px;
    height: 8px;
    position: relative;
    &-image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: -5px;
      top: 1px;
    }
    &--wrapper{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  &-filled{
    width: 25px;
    height: 25px;

    &-icon {
      width: 100%;
      height: 100%;
      //margin: 0 auto;
    }
    &--wrapper{
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
    }
  }
  &-hyperlink {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    &-link{
      margin: 0 auto;

    }
    &-image {
      width: 100%;
      height: 100%;
      &--wrapper {
        width: 20px;
        height: 20px;
      }
    }
  }
  &-info {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    &-image{
      width: 100%;
      height: 100%;
      &--wrapper {
        width: 20px;
        height: 20px;
      }
    }
  }
  &-data {
    text-align: center;
    //display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    &--small {
      font-size: 10px;
    }
    &-img {
      width: 100%;
      height: 100%;
      &--wrapper {
        position: absolute;
        top: 0;
        left: -13px;
        width: 8px;
        height: 8px;
      }
    }
    &-text{
      position: relative;
      display: inline-block;
    }
  }
}