.breadcrumbs {
  display: flex;
  &-arrow {
    display: flex;
  }
  &-icon {
    width: 100%;
    height: 100%;
    &--wrapper {
      width: 7px;
      height: 7px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  &-item {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    cursor: pointer;
  }
}
