.nav-mobile{
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    //background-image: url("../../assets/images/fomo_background2.png")  ;
    background-color: $black-background;
    @media screen and (max-width: 768px){
        display: block;
    }
    &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &-container{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        & > * .nav-item {
            margin-bottom: 15px;
        }
    }
}
.nav-active {
    @media screen and (max-width: 768px){
        & > .nav-item {
            border-bottom: 1px solid $white;
        }
    }

}