.authentication{
  &-block {
    background-color: $dark-shark-background;
    display: inline-block;
    //padding: 20px 80px;
    padding: 20px 20px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //border: 2px solid $sea-green-background;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(47, 127, 98, 0.6);
    @media screen and (max-width: 768px){
      max-width: 95%;
    }
  }
  &-input{
    width: 100%;
    margin-bottom: 15px;
    background-color: $dove-gray-background;
    border: none;
    height: 20px;
    border-radius: 3px;
    padding: 5px;
    &::selection{
      background-color: #2F7F62;
      color: $white;
    }
    //color: $white;
    &-wrapper {
      width: 100%;
      display: inline-block;
    }
  }
  &-button {
    text-transform: uppercase;
    border: 1px solid $abbey-line;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s ease all;
    margin: 10px 0;

    &:hover {
      border: 1px solid #2F7F62;
      color: #2F7F62;
    }
  }
  &-title {
    font-size: 18px;
    text-transform: uppercase;
    &-wrapper {
      text-align: center;
      position: relative;
      width: 40%;
      margin: 0 auto;
    }
  }
  &-label {
    margin-bottom: 5px;
    font-size: 12px;
  }
  &-logo {
    width: 100%;
    height: 100%;
  }
  &-link {
    margin-left: 5px;
    color: #2F7F62;
    cursor: pointer;
    &-wrapper{
      text-align: center;
      justify-content: center;
      display: flex;
      font-size: 12px;
    }
  }
  &-main {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    cursor: pointer;
  }
  &-error {
    font-size: 10px;
    color: $pink;
    overflow: hidden;
  }
}