.admin-action{
  display: flex;
  margin-top: 30px;
  @media screen and (max-width: 940px){
    display: block;
  }
  &-icon {
    //width: 100%;
    //height: 100%;
    &-wrapper {
      width: 30px;
      height: 30px;
      //margin-right: 70px;
      display: table;
      margin: 0 auto;
    }
  }
  &-wrapper {
    align-items: center;
    margin-right: 90px;
    @media screen and (max-width: 940px){
      display: inline-table;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}