.nebu {
  &-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 5px;
    cursor: pointer;
  }
  &-text {
    font-size: 13px;
    color:$mine-shaft;
  }
  &-logo {
    width: 13px;
    height: 13px;
    &-wrapper{
      padding: 0 3px;
    }
  }
}